<div>
  <map name="briefing-nav">
    <area shape="rect" coords="10,335,221,638"
          href="<%= roster_path %>" />
    <area shape="rect" coords="208,191,768,548"
          href="<%= map_path %>" />
    <area shape="rect" coords="1095,378,1338,689"
          href="<%= stats_path %>" />
  </map>

  <%= image_tag asset_path("HOME_PAGE-standard-height-2550px-gigapixel.png"), id: 'briefing', usemap: "#briefing-nav" %>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div data-controller="hello" data-action="resize@window->hello#resize"></div>

<div class="container">
  <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
    Click to toggle popover
  </button>
</div>