<div>
  <h1>
    Profile For 
    <%= current_user.email %>
  </h1>

  <div>
    <ul>
      <li>
        Allied Pilot: <%= current_user.allied_pilot.to_s %>
      </li>
      <li>
        Axis Pilot: <%= current_user.axis_pilot.to_s %>
      </li>
      <li>Assigned Cards</li>
    </ul>
  </div>

  <%= button_to 'Log Out', destroy_user_session_path, method: :delete%>
</div>